html { 
  background-color:mintcream;
  background-image: url(./img/bg2.jpeg);}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.warning {
  text-align: center;
  color: red;
  margin-top: 2px;
  padding: 2px
}
.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color:black;
  font-size: 20px;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 1;
  border-color: darkcyan;
  border-radius: 5px;
  
}

.messageBox {
  border-color: rgb(230, 245, 28);
  border-radius: 5px;
  border: 1;
  padding: 8px;
  margin-top: 16px;
  background-color: darkcyan;
  color: whitesmoke;
  font-size: 16px;
  height: 40px;

}